<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8" />
	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
	    <title>Best of 2021</title> 
	</head>
	<body>
		<div class="container">
			<h1><a th:href="@{/}"><i class="fas fa-trophy"></i></a>&nbsp;Best of 2021</h1>
			<hr/>
			<ul>
				<li><a class="h2" th:href="@{/books}">books</a></li>
				<li><a class="h2" th:href="@{/songs}">songs</a></li>
				<li><a class="h2" th:href="@{/movies}">movies</a></li>
				<li><a class="h2" th:href="@{/series}">series</a></li>
			</ul>
		</div>
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>