<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <div th:replace="fragments :: head"></div>
	    <title th:text="${title}"></title> 
	</head>
	<body>
		<div class="container">
			<h1 th:replace="fragments :: app-title"></h1>
			<h2 th:text="${title}"></h2>
			<ol>
				<!--  
				<li th:each="item : ${list}" th:text="${item}"></li>
				-->
				<li th:each="item : ${list}">
					<a th:text="${item}" th:href="@{'/' + ${type} + '/' + ${item}}"></a>
				</li>
			</ol>
			<div th:insert="fragments :: button('/', 'Back')"></div>
		</div>
		<div th:replace="fragments :: scripts"></div>
	</body>
</html>